<div class="container">
    <div class="d-flex fs-4 pt-3 pb-2 align-items-center justify-content-between">
       <div class="fs-2" > <i class="fa fa-bars"></i>  Product List </div>
       <div><button  class="btn fs-5  d-flex gap-2 align-items-center"
           (click)="openModal()"
           style="background: #078c9d; color: #FFF;"> <i class="fa-solid fa-plus"></i> Add</button> </div>
    </div>
   <hr/>
   <div class="row px-3">
       <table class="table table-striped table-light table-hover">
           <thead>
               <tr>
                   <th scope="col">Product Name</th>
                   <th scope="col">Product Price</th>
                   <th scope="col">Product Quantity</th>
                   <th scope="col">Action</th>
               </tr>
           </thead>
           <tbody>
               <tr  *ngFor="let item of allProduct">
                   <td> {{ item.productName }} </td>
                   <td>{{ item.productPrice}}</td>
                   <td>{{ item.productQuantity }}</td>
                   <td >
                       <button class="btn p-2 btn-sm " style="background: #078c9d; color: #FFF;" >
                        <i class="fa-solid fa-trash"  (click)="deleteProduct(item._id)"></i></button>
                       <button class="btn p-2 btn-sm  mx-2"
                        style="background: #078c9d; color: #FFF;" (click)="editOpenModal(item)" >  
                        <i class="fa-regular fa-pen-to-square"></i></button> 
                   </td>
               </tr>
           </tbody>
       </table>
       <div class="d-flex justify-content-between p-2">
        <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshCountries()"
        >
        </ngb-pagination>
    
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
            <option [ngValue]="">5</option>
            <option [ngValue]="10">10 </option>
            <option [ngValue]="25">25 </option>
            <option [ngValue]="50">50 </option>
            <option [ngValue]="100">100 </option>
        </select>
    </div>
   </div>
   </div>